html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@charset "utf-8";

/* FONT-FACE IMPORTS
================================================================== */

/*
 * Legal Disclaimer
 *
 * These Fonts are licensed only for use on these domains and their subdomains:
 *
 *
 * It is illegal to download or use them on other websites.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2017
 */

 html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Complete */
@font-face {
  font-family: "Brown-Pro";
  src: url("https://artwork.jaxsta.com/assets/fonts/lineto-brown-pro-light.eot");
  src:
    url("https://artwork.jaxsta.com/assets/fonts/lineto-brown-pro-light.eot?#iefix") format("embedded-opentype"),
    url("https://artwork.jaxsta.com/assets/fonts/lineto-brown-pro-light.woff2") format("woff2"),
    url("https://artwork.jaxsta.com/assets/fonts/lineto-brown-pro-light.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Brown-Pro";
  src: url("https://artwork.jaxsta.com/assets/fonts/lineto-brown-pro-regular.eot");
  src:
    url("https://artwork.jaxsta.com/assets/fonts/lineto-brown-pro-regular.eot?#iefix") format("embedded-opentype"),
    url("https://artwork.jaxsta.com/assets/fonts/lineto-brown-pro-regular.woff2") format("woff2"),
    url("https://artwork.jaxsta.com/assets/fonts/lineto-brown-pro-regular.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Brown-Pro";
  src: url("https://artwork.jaxsta.com/assets/fonts/lineto-brown-pro-bold.eot");
  src:
    url("https://artwork.jaxsta.com/assets/fonts/lineto-brown-pro-bold.eot?#iefix") format("embedded-opentype"),
    url("https://artwork.jaxsta.com/assets/fonts/lineto-brown-pro-bold.woff2") format("woff2"),
    url("https://artwork.jaxsta.com/assets/fonts/lineto-brown-pro-bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

a {
  text-decoration: none;
}

#advwebForm {
  font-family: 'Brown-Pro', Arial, Helvetica, sans-serif;
}

.feedbacklab {
  position: fixed;
  font-size: 16px;
  cursor: pointer;
  border-top: 0;
  text-shadow: none;
  height: 0;
  width: 0;
}

.feedbacklab:hover {
  background-color: #333;
}

#configureWidget .zsfbtop {
  top: 40px !important;
}

#configureWidget .zsfbbottomwithchat {
  bottom: 48px !important;
}

#configureWidget .zsfbbottom {
  bottom: 45px !important;
}

.zsfbleft {
  left: 0;
  top: 250px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform-origin: left top 0;
}

.setupbodylayout .zsfbleft {
  left: 305px;
}

.zsfbright {
  right: 40px;
  top: 250px;
  transform-origin: left bottom 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  width: 0;
  margin: 0;
}

.zsfbtop {
  left: 43%;
  top: 11px;
  margin: 0;
}

.zsfbbottom {
  left: 43%;
  bottom: 17px;
  margin: 10px;
}

.setupbodylayout .zsfbbottomwithchat {
  left: 43%;
  bottom: 18px;
  margin: 30px;
}

.zsfbbottomwithchat {
  bottom: 0;
  top: auto;
}

.zsfbleft span, .zsfbright span, .zsfbtop span, .zsfbbottom span, .zsfbbottomwithchat span {
  padding: 11px 15px 10px;
  background-color: #777;
  color: #fff;
  white-space: nowrap;
  box-shadow: 0 0 2px #bbb;
}

.zsfbleft span {
  padding: 8px 15px 13px;
  display: inline-block;
}

.zsfbright span {
  padding: 10px 15px;
  display: inline-block;
}

.zsfeedbackclose {
  font-size: 15px;
  color: #999;
  right: -1px;
  top: 0;
  position: absolute;
  float: right;
  cursor: pointer;
  padding: 14px 16px 13px 18px;
  z-index: 9999 !important;
  opacity: .4;
}

.zsfeedbackclose:hover {
  background-color: #aaa;
  opacity: 1;
}

.popup, #fbpopup, #zsfbform, #zsfbform input, #zsfbform textarea, #zsfbform a, .feedtxtarea, .fbfpoptitle, #zsfeedbackFrame, #popout {
  font-family: 'Brown-Pro', Arial, Helvetica, sans-serif;
}

.popup, #fbpopup {
  left: 19%;
  background: #fff;
  position: fixed;
  top: 40px;
  z-index: 2000;
  display: block;
}

#fbpopup #feedbCmpnyNameTxtField {
  width: 98.5%;
}

#fbpopup .zsfeedbklpanel {
  height: 568px;
}

.zsfeedbkrpanel {
  float: left;
  width: 65.235%;
  background-color: #fff;
  border-left: 1px solid #f5f5f5;
  z-index: 9999;
}

#popupsetup .zsfeedbkrpanel {
  width: 65%;
  text-align: left;
}

.zsfeedbklpanel {
  float: left;
  width: 33%;
  background-color: #fff;
  padding: 0 5px 0 10px;
  overflow: hidden;
  min-height: 530px;
  text-align: left;
}

#previewPopup.zsfbfnohc .zsfeedbkrpanel {
  width: 100%;
}

.fbpad {
  border: 1px solid #fff;
  margin: 0 3px 0 0;
  cursor: pointer;
}

.fbpadimgdiv {
  float: left;
  width: 25px;
}

.cpsublink {
  color: #666;
  font-size: 14px;
  text-decoration: none;
}

.cplinknew {
  color: #777;
  font-size: 11px;
}

.feedbtxtfield, .fbtxtnf, .fbfcaptchaDivinput {
  background-color: #fcfcfc;
  border-radius: 3px;
  color: #333;
  font-size: 15px;
  padding: 5px 3px 5px 5px;
  width: 99.3%;
}

.zsfbfmdiv-fbf .feedbtxtfield, .zsfbfmdiv-fbf .fbtxtnf, .zsfbfmdiv-fbf .fbfcaptchaDivinput {
  padding: 0;
}

.feedbtxtfield:focus, .fbtxtnf:focus, .fbfcaptchaDivinput:focus {
  border-radius: 3px;
  width: 99.2%;
  outline-style: none;
  padding: 5px 3px 5px 5px;
}

.Fdformpreview .feedbtxtfield:focus, .Fdformpreview .fbtxtnf:focus, .Fdformpreview .fbfcaptchaDivinput:focus {
  padding: 0 !important;
}

#advwebForm .feedbtxtfield, .fbtxtnf, .fbfcaptchaDivinput, .fbtxtnf:focus, .fbfcaptchaDivinput:focus {
  width: 100%;
}

#advwebForm .w226 {
  width: 260px;
}

#advwebForm .fbfcaptchaDivimg {
  width: 99.8%;
}

#advwebForm .popup {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: auto;
}

#popupsetupClose {
  right: 1px !important;
}

#advwebForm .zsfeedbackclose {
  padding: 14px 16px 12px 18px !important;
  height: 19px;
}

.feedbselefield {
  background-color: #fcfcfc;
  border-radius: 3px;
  color: #666;
  font-size: 13px;
  padding-left: 5px;
  width: 98.7%;
}

.feedbselefield, .fbtxtnf, .feedbtxtfield, .fbfcaptchaDivinput, .fbfcaptchaDivimg {
  font-family: 'Brown-Pro', Arial, Helvetica, sans-serif;
  border: 1px solid #f5f5f5 !important;
  background-color: #fff !important;
  border-radius: 3px !important;
}

.feedbselefield:hover, .fbtxtnf:hover, .feedbtxtfield:hover, .fbfcaptchaDivinput:hover, .fbfcaptchaDivimg:hover {
  box-shadow: none;
}

.feedtxtarea {
  border: 0;
  background-color: #fff;
  width: 99.3%;
  color: #333;
  padding-left: 0;
  resize: none;
  line-height: 130%;
  font-size: 15px;
  overflow-y: auto;
  height: 155px;
}

.feedtxtarea:focus {
  border: 0;
  background-color: #fff;
  width: 98%;
  padding-left: 0;
  outline-style: none;
  box-shadow: none;
}

.attachnewlink {
  padding: 8px 11px 8px;
  display: inline-block;
  cursor: pointer !important;
}

.attachnewlink:hover {
  cursor: pointer !important;
}

.muledptbtn, .zsfbbdrtop .muledptbtn:hover {
  background-color: #00a3fe;
  border: 1px solid #00a3fe;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 13px;
}

.muledptbtn:hover {
  background-color: #0f5491;
  border: 1px solid #0f5491;
  color: #fff !important;
  cursor: pointer !important;
}

.zspopupcloseicn {
  position: absolute;
  top: 2px;
  right: 2px;
}

.mt40 {
  margin-top: 40px;
}

.f20 {
  font-size: 20px;
}

.fleft {
  float: left;
}

.ml {
  margin-left: 20px;
}

.ml30 {
  margin-left: 30px;
}

.pl20 {
  padding-left: 20px;
}

.w226 {
  width: 226px;
}

.pt4 {
  padding-top: 4px;
}

.ml10 {
  margin-left: 10px;
}

.pt5 {
  padding-top: 5px;
}

.pb5 {
  padding-bottom: 5px;
}

.mt10 {
  margin-top: 10px;
}

.link2 {
  color: #666;
}

.tcenter {
  text-align: center;
}

.tright {
  text-align: right
}

.clboth {
  clear: both;
}

.zspblogoicn {
  background-repeat: no-repeat;
  background-position: -112px -469px;
  width: 117px;
  height: 31px;
}

.i-tag {
  display: inline-block;
  vertical-align: middle;
}

#lean_overlay {
  HEIGHT: 100%;
  BACKGROUND: silver;
  POSITION: fixed;
  LEFT: 0;
  FILTER: alpha(opacity=30);
  Z-INDEX: 2000;
  toP: 0;
  WIDTH: 100%;
  opacity: .2;
}

.zscameraicn, .zsnewattachicn, .zspblogoicn, .zsfbcloseicn, .zsfbminimize, .zsfbssok, .zsfbrefresh, #suggestionsDiv #searchBox, .zsfbfscreencls i, .zsfbcaptcha, .fbchatclose, .zs-attenicn {
  background-image: url('https://css.zohostatic.com/support/app/images/zs-mpro.b6c9cf2347c62390fdcb.png');
}

.fbchatclose {
  background-position: -117px -338px;
  height: 23px;
  width: 23px;
  cursor: pointer;
}

.zsfbrefresh {
  background-position: -118px -417px;
  display: inline-block;
  height: 16px;
  width: 16px;
}

.zsfbssok {
  background-position: -85px -418px;
  display: inline-block;
  height: 16px;
  width: 23px;
  cursor: pointer;
}

.zsfbminimize {
  background-position: -178px -417px;
  display: inline-block;
  height: 15px;
  width: 15px;
}

#popupsetupMinimise:hover .zsfbminimize {
  background-position: -64px -417px;
}

#fbssokcancel .zsfbcloseicn {
  background-position: -44px -417px;
  display: inline-block;
  height: 15px;
  width: 15px;
}

.zsfeedbackclose .zsfbcloseicn {
  background-position: -150px -417px;
  display: inline-block;
  height: 15px;
  width: 15px;
}

.zsfeedbackclose:hover .zsfbcloseicn {
  background-position: -44px -417px;
}

.zscameraicn {
  background-position: -1px -413px;
  display: inline-block;
  height: 22px;
  width: 18px;
}

.zsnewattachicn {
  background-position: -22px -414px;
  display: inline-block;
  height: 22px;
  width: 18px;
}

.mt2 {
  margin-top: 2px;
}

.ml5 {
  margin-left: 5px;
}

.ml42 {
  margin-left: 42px;
}

.fbfcaptchaDiv {
  color: #555;
  margin-top: 20px;
}

.fbfcaptchaDivimg {
  border-radius: 3px;
  padding: 0 4px;
  width: 99.3%;
  height: 95px;
}

.fbfcaptchaDivimg a {
  cursor: pointer !important;
  color: #126dc0;
}

#captchaImage {
  width: 200px;
  height: 70px;
}

.noshadow {
  box-shadow: none !important;
  border: 1px solid #e5e5e5;
}

#popout {
  border: 1px solid #e5e5e5;
}

#popout .zsfeedbkrpanel {
  box-shadow: none;
}

#popout .feedbtxtfield {
  width: 98%;
}

#popout .fbtxtnf, #popout .fbfcaptchaDivinput {
  width: 96%;
}

#popout .fbfcaptchaDivimg {
  width: 91%;
}

#popout .feedbselefield {
  width: 98.5%;
}

.popup .feedbtxtfield {
  width: 98%;
}

.popup .fbtxtnf, .popup .fbfcaptchaDivinput {
  width: 100%;
}

.popup .fbfcaptchaDivimg {
  width: 90.8%;
}

.popup .feedbselefield {
  width: 99.6%;
}

.screenshotSelOptionsDiv {
  position: absolute;
  display: block;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  width: 200px;
  height: 200px;
  z-index: 400000;
  top: 300px;
  left: 400px;
}

.feedbackformmdiv {
  padding: 0 20px 23px;
  text-align: left;
}

.fbfpoptitle {
  font-size: 20px;
  padding: 13px 0 14px 20px;
  height: 19px;
}

#popupsetup #popupTitle.fbfpoptitle {
  margin-right: -1.5px;
}

.zspowerbytxt {
  background-color: #f5f5f5;
  padding: 10px 5px;
  font-size: 11px;
  text-align: center;
  color: #999;
}

.screenshotdiv {
  position: absolute;
  width: 195px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: auto;
  top: -136px;
  left: -42px;
  background-color: #fff;
  padding: 15px 10px 10px 10px;
  color: #555;
  z-index: 9999 !important;
}

.screenshotdivinsetup {
  height: 100px;
  border-radius: 4px;
  cursor: auto;
  top: -136px;
  padding: 15px 10px 10px 10px;
  color: #555;
  z-index: 1 !important;
}

.screenshotrow {
  padding: 5px 0 5px 5px;
  margin-bottom: 5px;
  margin: 10px 0 5px;
}

.screenshotrow a {
  color: #555;
  font-size: 13px;
}

.screenshotrow:hover a {
  color: #222;
}

#screenshotarrow .down-sd-arrow1 {
  border-top: 10px solid #ccc;
}

#screenshotarrow .down-sd-arrow2 {
  border-top: 10px solid #fcfcfc !important;
  margin-top: -11px;
}

.fbssselect {
  border: 1px solid #bbb;
  background-color: #bbb;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #fff inset;
  margin: 2px 7px 0 0;
  width: 14px;
  height: 14px;
}

.fbssnormal {
  border: 1px solid #bbb;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 7px 0 0;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.fbminiposi {
  right: 49px;
}

.fbssokcancel {
  background-color: #000;
  position: fixed;
  right: 0;
  top: 0;
  padding-top: 0;
  z-index: 99999;
}

.zsfbok {
  padding: 15px 20px;
  background-color: #22ad92;
  cursor: pointer !important;
}

.zsfbclose {
  padding: 15px 20px 16px 22px;
}

.zsfbok:hover {
  background-color: #19977e;
}

.zsfbclose {
  background-color: #d55644;
}

.zsfbclose:hover {
  background-color: #c34938;
}

.zsfbfreshdiv {
  position: relative;
  right: 0;
  top: -50px;
}

#screenshotarrow {
  position: absolute;
  bottom: -10px !important;
  top: auto;
  left: 51px;
}

#supportSuggestionsListDiv, #communitySuggestionsListDiv {
  margin-bottom: 10px;
  overflow: hidden;
}

.w250 {
  width: 250px;
}

.zsfeedbklpanel .zsfbfsearchBox {
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid #ddd;
  color: #aaa;
  font-size: 13px;
  margin-bottom: 9px;
  margin-left: 10px;
  padding: 3px 0 4px 25px;
  width: 83%;
  background-position: 6px -884px;
  background-repeat: no-repeat;
  opacity: .7;
}

.zsfeedbklpanel .zsfbfsearchBox:focus {
  background-color: #fff;
  border: 1px solid #fff;
  background-repeat: no-repeat;
  color: #222;
  opacity: 1;
}

#solutionsDiv div, #topicsDiv div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 280px;
  border-bottom: 1px solid #f8f8f8 !important;
  background-color: #fff;
  padding: 11px 0 11px 10px;
  word-wrap: normal;
}

.zsfblchcsubject {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 410px;
  color: #148ad0;
}

.zsfbhcdescrip {
  margin-top: 3px;
  line-height: 120%;
  height: 31px;
  overflow: hidden;
  width: 250px;
}

#advwebForm.popup .zsfbhcdescrip {
  height: auto !important;
  width: 272px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.zsfbhcdescrip a.cplinknew {
  color: #aaa;
  font-size: 12px;
}

.feedbackpreviewdiv .freezeLayer {
  display: none;
}

.feedbackpreviewdiv a.attachnewlink {
  cursor: default !important;
}

.Fdformpreview {
  border: 1px solid #e8e8e8;
  box-shadow: 0 0 6px #efefef;
}

.feedbackpreviewdiv #fbpopup {
  left: 19%;
  top: 40px;
  position: absolute;
}

.zsfbfmdiv-fbf {
  margin-top: -20px;
  padding: 30px 0;
  width: 88%;
}

.zsfbfmdiv-fbf div.Fdformpreview {
  display: table !important;
  width: 100%;
}

.feedbackpreviewdiv .zsfeedbkrpanel, .feedbackpreviewdiv .feedbackformmdiv {
  padding-bottom: 0;
}

.feedbackPopupsetup {
  padding: 0 0 0 50px;
}

.feedbackpreviewdiv .zsfeedbkrpanel {
  width: 65.2%;
}

.feedbackPopupInDep {
  background-color: #fff;
  padding: 60px 30px 45px 30px;
  width: 100%;
  position: relative;
  overflow-y: auto;
}

.feedbackPreviewInDep {
  left: 0 !important;
  top: -200px !important;
}

.previewPopupSetup {
  position: fixed;
  left: 18% !important;
  top: 10px !important;
  z-index: 99;
}

.previewPopupInDep {
  position: fixed;
  left: 7% !important;
  top: 10px !important;
}

.feedbackPopup_layer_dep {
  font-size: 12px;
  opacity: 1;
  position: fixed;
  top: 50px;
  max-width: 1024px;
  z-index: 100;
  padding-right: 0;
  display: none;
}

.mt3 {
  margin-top: 3px;
}

.mt30 {
  margin-top: 30px;
}

.mt20 {
  margin-top: 20px;
}

.pb10 {
  padding-bottom: 10px;
}

.pl10 {
  padding-left: 10px;
}

.pb5 {
  padding-bottom: 5px;
}

.ml1 {
  margin-left: 1px;
}

.mt8 {
  margin-top: 8px;
}

.fright {
  float: right;
}

.clboth {
  clear: both;
}

#zsfeedbackFrame {
  height: 600px;
  width: 892px !important;
}

#popout .zsfbfsearchBox {
  width: 92%;
}

#popout .fbpad {
  margin: 3px 3px 0 0 !important;
}

#popout body {
  margin: 0;
}

#popout .fbminiposi {
  right: 53px !important;
}

#popout .zsfeedbackclose {
  right: 9px;
  top: 9px;
}

.down-sd-arrow1 {
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #d9d9d9;
}

.down-sd-arrow2 {
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f5f5f5;
  margin-top: -11px;
}

#popout .zsfeedbackclose {
  padding: 15px 14px 19px 16px;
}

.fbfsearchbox {
  margin: 0 -6px 10px -10px;
  padding: 11px 0 1px 6px;
  height: 35px;
}

.popup .fbfpoptitle, #zsfeedbackwidgetdiv .fbfpoptitle, #zsfeedbackFrame .fbfpoptitle {
  height: 21px;
}

.Fdformpreview .fbfpoptitle {
  height: 20px;
}

.zsfbfmdiv-fbf .Fdformpreview .fbfpoptitle {
  margin-right: -1px;
}

.Fdformpreview .muledptbtn {
  cursor: default !important;
}

#screenshot, #attachmentName #fileName {
  color: #666 !important;
  font-size: 13px !important;
}

#advwebForm {
  background-color: transparent;
  min-width: 280px;
  width: 50%;
  max-width: 800px;
  height: auto;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#feedbPopupSbmtBtn {
  background-color: #1B9883;
  border: none;
  padding: 12px;
}

#feedbPopupSbmtBtn:hover {
    background-color: #22C2A7;
}

.fbdisablcls a.zsdeptlist {
  color: #999;
}

.fbdisablcls .supemail a {
  color: #bbb;
}

.fbdisablcls .supemail span {
  color: #aaa;
}

.fbdisablcls .zswidsource {
  color: #aaa;
}

.mr1 {
  margin-right: 1px !important;
}

.w100im {
  width: 100% !important;
}

.zsfbbdrtop {
  border-top: 1px solid #f1f1f1;
}

#fileUpload {
  visibility: hidden;
  width: 1px;
  height: 1px;
}

#zsfeedbackFrame #fileAttach {
  padding: 30px;
}

.zsfblcinitial {
  background-color: #fff;
  border-radius: 10px;
  display: block;
  left: 400px;
  padding: 30px 20px;
  position: absolute;
  top: 300px;
  width: 500px;
  z-index: 9999;
  color: #555;
}

.fbclsposition {
  position: absolute;
  top: -40px;
  left: 505px;
  border-radius: 50%;
  cursor: pointer;
}

.fbembedclose {
  position: absolute;
  top: -42px;
  right: -52px;
  border-radius: 50%;
  cursor: pointer;
}

.fblchatgreenbtn {
  background-color: #58ac4c;
  color: #fff;
  font-size: 15px;
  padding: 5px 10px;
  text-transform: uppercase;
  border-radius: 3px;
  margin-right: 5px;
  cursor: pointer;
}

.fblcancbtn {
  color: #5794d7;
  cursor: pointer;
}

.fbgreypanel {
  background-color: #f5f5f5;
  color: #333;
  font-size: 15px;
  padding: 20px 15px;
}

.chatInitBox {
  margin: 0 15px;
}

.fbftxtbox {
  border: 0;
  border-bottom: 1px solid #f3f3f3;
  padding: 25px 0 7px;
  color: #aaa;
  font-size: 15px;
  width: 100%;
}

.fbftxtbox:focus {
  color: #333;
}

.fbfchatgreenbtn {
  background-color: #5aab4c;
  color: #fff;
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 3px;
  width: auto;
  display: table;
  cursor: pointer;
}

.fbgbtnmaindiv {
  padding: 15px 0;
  margin-top: 15px;
}

.zsfblchcenter {
  margin: 0;
  padding: 0 0 0 20px;
  list-style: decimal;
  color: #909090;
}

.zsfblchcenter li {
  padding: 6px 0;
}

.zsfblchcenter li div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 445px;
  padding-left: 5px;
}

.zsfblcpopup {
  background: none repeat scroll 0 0 #fff;
  position: absolute;
  width: 500px;
  height: auto;
  left: 0;
  display: none;
  z-index: 9999;
  top: 0;
}

.redtxt {
  color: #dd4b39 !important;
}

#chatHandler .zsfeedbackclose {
  padding: 15px 16px 15px 18px;
}

#liveChatIframe {
  background-color: transparent !important;
  min-height: 555px;
  max-height: 700px;
  left: 31%;
}

iframe#liveChatIframe.iframemini {
  bottom: 0 !important;
  left: auto !important;
  max-height: 50px;
  min-height: 45px;
  right: 0 !important;
  top: auto !important;
  width: 500px;
  height: 0 !important;
  position: fixed;
}

.iframemini .minichatpanel {
  display: none;
}

ul#chatAutoSuggRes {
  list-style: none;
  margin: 5px 0 0 0;
  padding: 0;
}

ul#chatAutoSuggRes li {
  padding: 5px 0;
}

.zsfbcloseweform {
  position: fixed !important;
  top: auto !important;
  left: auto !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 340px !important;
}

#zldchatiframe {
  height: 500px !important;
}

.zscaptcha {
  background-color: #fff;
}

#FeedbackformID {
  background-color: #fff;
}

.zscaptcha textarea.feedtxtarea {
  height: 154px !important;
}

#popupsetup {
  padding: 0 0 10px 0;
}

.feedbackPopup_layer_dep #popupsetup {
  padding: 50px;
}

#popupsetup .feedtxtarea {
  overflow: hidden !important;
}

#popupsetup .zsfbftxtarea {
  height: 147px;
  overflow: hidden;
}

#popupsetup .feedtxtarea #descPlaceHolder {
  max-height: 152px;
  overflow: auto;
}

#popupsetup .feedtxtarea:hover #descPlaceHolder {
  max-height: 132px;
  overflow: auto;
}

.zsfbminimizecls {
  bottom: 0 !important;
  position: fixed !important;
  right: 22% !important;
  z-index: 9999 !important;
}

.zsfbgreenplus {
  font-size: 15px;
  margin-right: 5px;
  font-weight: bold;
  color: #38813a;
}

#screenshotmdiv, .zsfbattachfiles {
  background-color: #fafafa;
  border: 1px solid #f1f1f1;
  color: #777;
  padding: 1px 5px;
  border-radius: 3px;
}

#screenshotTrigger {
  position: relative;
}

.fbchattitle {
  padding: 13px 0 13px 10px !important;
}

.fbchattitle .zsfeedbackclose {
  padding: 14px 16px 16px 18px !important;
}

.zsfbflfreeze {
  background-color: #fff;
  opacity: .8;
  position: absolute;
  height: 569px;
  width: 28%;
  margin: 0 -10px;
  z-index: 1 !important;
  display: none;
}

.zsfbflfreezeinner {
  position: absolute;
  height: 555px;
  width: 26.5%;
  z-index: 1 !important;
  display: none;
  margin: 5px 0 0 -3px;
}

.feedbackPopup_layer_dep .zsfbflfreezeinner {
  width: 20.3%;
}

.feedbackPopup_layer_dep .zsfbflfreeze {
  width: 21.5%;
}

.zsfeedbklpanel:hover .zsfbflfreeze, .zsfeedbklpanel:hover .zsfbflfreezeinner {
  display: block;
}

.fbfpoptitle, #advwebForm .fbfsearchbox, #popupsetup .fbfsearchbox, #previewPopup .fbfsearchbox {
  background-color: #eee;
  color: #555;
}

.fbpadimgdiv {
  display: none;
}

.fbpad, .fbpad:hover {
  border-bottom: 1px solid #f8f8f8 !important;
  background-color: #fff;
  padding: 10px 0 10px 10px;
}

#topicsDiv .fbpad, #topicsDiv .fbpad:hover {
  border-bottom: 1px solid #f8f8f8 !important;
  background-color: #fff;
  padding: 13px 0 13px 10px;
}

.Fdformpreview .fbpad:hover {
  cursor: default;
}

.zsfbftittxt {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  font-size: 15px;
  padding: 4px 5px 5px;
  width: 94%;
}

.zsfbfbluebtn {
  padding: 5px 14px !important;
  margin-left: 5px;
}

.fbfedit {
  display: none;
}

#feedbackSubject {
  font-size: 14px;
  color: #333;
  min-width: 5%;
}

.zsfbfmdiv-fbf #feedbackSubject:focus {
  max-width: 50%;
}

.zsfbftxtarea {
  height: 150px;
  padding: 5px;
}

.zsfbfenable {
  padding: 0 0 13px;
  height: 14px;
  z-index: 1 !important;
  top: 5px;
  width: 162px;
}

#ScreenShotimage.zsfbfenable {
  height: auto !important;
}

.zs-alertmain {
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  position: fixed;
  top: 100px;
  left: 38%;
  background-color: #fff;
  max-width: 43%;
  line-height: 185%;
}

.zs-attenicn {
  background-position: 0 -300px;
  display: inline-block;
  height: 41px;
  margin-right: 20px;
  width: 41px;
}

#themesContainer .zs-alertmain {
  box-shadow: None;
  position: fixed;
  top: 85px;
  left: 77px;
  z-index: 9999;
  background-color: initial;
}

#themesContainer .zs-alertmain .plgtxt {
  color: #fff;
}

input#liveDeskStartButton {
  cursor: pointer !important;
}

#Feedbackform, .zsfbfbkclr {
  background-color: #fcfcfc;
  padding: 10px;
}

.zscategoryselect, .zsformvalue .txtfieldnew, .zsfbfmdiv, .queuesetup .Newbodywh {
  background-color: #fff;
  text-align: left;
}

#advwebForm .fbfpoptitle {
  padding: 12px 0 12px 20px !important;
  position: relative;
}

#advwebForm .fbfsearchbox {
  margin: -10px -5px 10px -10px;
  padding: 10px 0 0 6px;
}

#advwebForm .zsfeedbklpanel, #advwebForm .zsfeedbkrpanel {
  display: table-cell;
}

#zsFAQDispContainer {
  display: none;
  height: 537px;
  overflow-y: auto;
}

#advwebForm .zsfeedbklpanel {
  min-height: 100px !important;
  overflow-y: auto;
}

#solutions {
  padding: 20px;
}

#solutionTitle {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f5f5f5;
}

#solutionContent, #topicContent, .zsfbfcontent {
  margin-top: 20px;
  font-size: 14px;
  line-height: 160%;
  color: #666;
}

#topicTitle, .zsfbfsubtitle {
  font-size: 18px;
  color: #555;
}

.zsfbfmdiv-fbf .Fdformpreview {
  box-shadow: none;
}

.zsfbfmdiv-fbf:hover .Fdformpreview {
  box-shadow: 0 0 16px #aaa;
  border: 1px solid #ccc;
  transition: box-shadow 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.zsfbfmdiv-fbf #widgetTitle {
  float: left;
  max-width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 21px;
  white-space: nowrap;
}

.Fdformpreview .widgettitlenew {
  max-width: 91%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 21px;
}

.zs-previewwm {
  top: 285px !important;
  position: absolute !important;
  z-index: 9999 !important;
}

#feedbackDesc {
  border: 0;
  height: 139px;
  width: 490px;
  padding-top: 9px;
  line-height: 140%;
}

#descPlaceHolder, .zsfbfplacehtxt, #feedbackSubject, #feedbackDesc {
  font-size: 15px;
  font-family: 'Brown-Pro', Arial, Helvetica, sans-serif;
}

.zsfbfplacehtxt {
  padding: 5px !important;
  max-width: 475px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Fdformpreview #feedbackSubject, .Fdformpreview #feedbNameTxtField, .Fdformpreview #feedbEmailTxtField {
  padding: 5px 4px;
}

.Fdformpreview #feedbackSubject:focus, .Fdformpreview #feedbackDesc, .Fdformpreview #feedbackTitle, #advwebForm #feedbackSubject:focus, #advwebForm .feedtxtarea:focus, #advwebForm .fbtxtnf:focus, #advwebForm .fbfcaptchaDivinput:focus {
  border: 1px solid rgba(121, 187, 238, 0.75) !important;
  box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
  outline: 0;
}

#advwebForm .feedtxtarea {
  padding: 0 0 0 5px !important;
  width: 98.5% !important;
  border: 1px solid #fff;
}

#advwebForm .feedbselefield {
  padding: 0 !important;
}

#advwebForm .zsnocaptcha .feedbselefield {
  height: 162px;
}

#advwebForm .zscaptcha .feedbselefield {
  height: 162px;
}

.Fdformpreview #feedbackDesc {
  height: 149px !important;
  width: 98.7% !important;
  padding-top: 2.5px !important;
  padding-left: 4px !important;
  padding-right: 0 !important;
  -webkit-padding-before: 3px !important;
}

.Fdformpreview #feedbackSubject, .Fdformpreview #feedbackSubject:focus {
  width: 98.4%;
  max-width: 98.4% !important;
  height: 16px;
  -webkit-padding-after: 5px;
  -webkit-padding-before: 5px;
  -webkit-padding-end: 0;
  outline-style: none;
}

#previewPopup .Fdformpreview {
  box-shadow: 0 0 6px #555;
  position: fixed;
  z-index: 9998 !important;
  border: 0;
  width: 950px;
  text-align: left;
  min-height: 594px;
}

#previewPopup .zsfeedbkrpanel {
  float: right !important;
}

#previewPopup .fbpad {
  padding: 12px 0 12px 10px;
  cursor: default;
}

#previewPopup .zsfeedbklpanel.zscaptcha {
  min-height: 594px !important;
  -webkit-margin-after: -7px;
}

#previewPopup .zsfeedbklpanel.zsnocaptcha {
  min-height: 444.7px !important;
  -webkit-margin-after: -3px;
}

#previewPopup .zsfeedbkrpanel.zsnocaptcha {
  min-height: 445px !important;
}

.zsfbfporelative {
  position: relative;
}

#ScreenShotimage, #Attachmentimage {
  min-height: 50px;
  min-width: 50px;
  max-height: 150px;
  max-width: 150px;
  padding: 10px !important;
  top: auto;
  bottom: 35px;
  left: -20px !important;
  text-align: center;
  height: auto !important;
}

.zsfbfporelative {
  position: relative;
}

.zsfbfporelative #ScreenShotimage, .attaimgpreview #Attachmentimage {
  display: none;
}

.attaimgpreview:hover #Attachmentimage {
  left: -31px;
}

#ScreenShotimage img, #attachmentPreview {
  max-height: 150px;
  max-width: 150px;
  padding: 0 !important;
}

#attachmentarrownew {
  position: absolute;
}

#zsFAQDispContainer {
  position: fixed;
  top: 100px;
  left: 38%;
  z-index: 9999 !important;
  background-color: transparent;
  width: 645px;
  text-align: left;
}

#suggestionClose {
  right: 4px !important;
  top: 1px !important;
  z-index: 9999 !important;
}

#zsFAQDispContainer #solutions, #zsFAQDispContainer #topics {
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 9px 0 0 20px;
  padding: 20px;
  width: 88%;
  box-shadow: 3px 2px 10px #666;
  border-radius: 6px;
}

.qcpopuparrowsla {
  position: absolute;
  width: 15px;
  height: 20px;
  background: transparent url('https://css.zohostatic.com/support/app/images/qcrightarrow.a9cf434b46ddc6e869f9.gif') no-repeat;
  top: 34px;
  _height: 16px\9;
}

#zsFAQDispContainer div.qcpopuparrowsla {
  left: 11px !important;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

#previewPopup .zsfbfsearchBox:focus {
  background-color: transparent;
  border: 1px solid #ddd;
  background-repeat: no-repeat;
  color: #222;
  opacity: 1;
}

.fbfcaptchaDiv:hover #enableDisableCaptcha {
  display: block;
}

#feedbackDesc, #feedbNameTxtField, #feedbEmailTxtField, #captchaWord, .zsfbfsearchBox {
  outline-style: none;
}

.topicinfo {
  font-size: 14px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f5f5f5;
  color: #555;
}

.topicinfo span {
  color: #999;
}

#topicReplies {
  margin-top: 20px;
  padding-top: 10px;
  font-size: 17px;
  color: #999;
  padding-bottom: 10px;
}

#advwebForm .zsnocaptcha {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  -webkit-margin-after: 0;
}

#advwebForm .zsfeedbklpanel.zscaptcha {
  padding: 0 5px 0 10px;
  overflow: hidden;
}

.zscaptcha #fbPopupEmptyEmailErrMsg, .zsnocaptcha #fbPopupEmptyEmailErrMsg {
  left: -131px;
}

@-moz-document url-prefix() {
  #advwebForm .zsfeedbklpanel.zscaptcha {
    padding: 0 5px 0 10px;
    -webkit-margin-after: -5px;
    overflow: hidden;
  }
}

@-moz-document url-prefix() {
  #advwebForm .zsnocaptcha {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    -webkit-margin-after: -4px;
    min-height: 421px !important;
    max-height: 421px !important;
  }
}

#advwebForm .fbfsearchbox {
  margin: 0 -6px 10px -10px;
}

#advwebForm .zsfeedbklpanel.zscaptcha, #advwebForm .zsfeedbkrpanel.zscaptcha {
  min-height: 571px !important;
  max-height: 560px;
}

#advwebForm .zsfeedbkrpanel.zscaptcha {
  -webkit-margin-after: -8px;
}

@media screen and (-ms-high-contrast:none), (-ms-high-contrast:active) {
  #advwebForm .zsfeedbkrpanel.zscaptcha, #advwebForm .zsfeedbklpanel.zscaptcha {
    min-height: 582.5px !important;
  }
}

@-moz-document url-prefix() {
  #advwebForm .zsfeedbklpanel.zscaptcha, #advwebForm .zsfeedbkrpanel.zscaptcha {
    min-height: 587px !important;
  }
}

#advwebForm #feedbackSubject {
  width: 98%;
}

#advwebForm .redtxt {
  float: left;
  height: 0;
  margin-left: 7px;
}

#advwebForm #fbInvalidFileFormatErrMsg {
  position: absolute !important;
  top: -29px !important;
  width: 500px;
  left: 20px;
}

#previewPopup .zsfeedbkrpanel.zscaptcha {
  min-height: 594px !important;
  -webkit-margin-after: -8px;
  position: relative !important;
  z-index: 0;
}

.zsfeedbkrpanel #liveChatIframe {
  width: 43.1% !important;
  top: 85px !important;
  box-shadow: none;
  margin-left: -1px;
  border: 0 !important;
}

.zsfeedbkrpanel .swindow, .zsfeedbkrpanel .chatarea {
  border: 0 !important;
}

.zsnocaptcha #liveChatIframe {
  min-height: 510px;
}

.zsfbfdisbtn, .zsfbfdisbtn:hover {
  background-color: #eee !important;
  color: #999 !important;
  border: 1px solid #eee !important;
}

.zspreattscreendiv {
  margin-top: 5px;
  padding: 10px 0 8px 0;
}

.zsfdwordveribdr, .screenshotdivinsetup, .zsfreezediv {
  border: 1px dashed #bbb2b2;
  background-color: #fff;
  position: absolute;
  border-radius: 3px;
}

.zsfreezediv {
  background-color: transparent;
}

.zsfdwordveribdr {
  width: 256px;
  height: 139px;
  opacity: .6;
  top: 0;
}

.fbLanguage {
  margin-left: 2px !important;
}

.zsfbfnohc .Fdformpreview div.zs-previewwm {
  font-size: 113px !important;
  right: 0 !important;
  top: 283px !important;
}

.zsfbfnewngtxt input {
  border: 0 !important;
  width: 72px !important;
}

.zsfbfoffsetval input {
  border: 0;
  width: 72px;
  margin-right: 5px;
  outline-style: none;
}

.zsfbfpad {
  padding: 0 10px 20px 10px !important;
  height: 122px;
}

. popupsetup .fbLanguage .zsddmaindiv {
  margin-left: 4px !important;
}

#attachmentName #fileName {
  display: table-cell;
  max-width: 135px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#attachmentName #attachClose {
  display: table-cell;
}

#previewPopupRightPanel #previewPopupFeedbackSubject {
  width: 98.2% !important;
}

.zsfbfnohc .Fdformpreview div.zs-previewwm {
  font-size: 113px !important;
  right: 0 !important;
  top: 283px !important;
}

.zsfbfnewngtxt input {
  border: 0 !important;
  width: 72px !important;
  outline-style: none;
}

#tabFontColor {
  outline-style: none;
}

.zsfbfoffsetval input {
  border: 0;
  width: 72px;
  margin-right: 5px;
}

.zsfbfpad {
  padding: 0 10px 20px 10px !important;
}

. popupsetup .fbLanguage .zsddmaindiv {
  margin-left: 4px !important;
}

#attachmentName #fileName {
  display: table-cell;
  max-width: 135px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#attachmentName #attachClose {
  display: table-cell;
}

.zsfbfscreencls {
  width: 20;
  height: 20;
  float: right;
}

.zsfbfnohc .Fdformpreview div.zs-previewwm {
  font-size: 113px !important;
  right: 0 !important;
  top: 283px !important;
}

.zsfbfnewngtxt input {
  border: 0 !important;
  width: 72px !important;
}

.zsfbfoffsetval input {
  border: 0;
  width: 72px;
  margin-right: 5px;
}

.zsfbfpad {
  padding: 0 10px 20px 10px !important;
}

. popupsetup .fbLanguage .zsddmaindiv {
  margin-left: 4px !important;
}

#attachmentName #fileName {
  display: table-cell;
  max-width: 135px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#attachmentName #attachClose {
  display: table-cell;
}

.zsfbfscreencls {
  width: 20;
  height: 20;
  float: right;
}

#previewPopup.zsfbfnohc {
  left: 29% !important;
  width: 40.7%;
}

.zsfbfnohc .Fdformpreview div.zs-previewwm {
  font-size: 113px !important;
  right: 0 !important;
  top: 283px !important;
}

.zsfbfnewngtxt {
  width: 70% !important;
  margin: 3px 1px 0 0;
}

.zsfbfnewngtxt input {
  border: 0 !important;
  width: 52px !important;
  margin-right: 0 !important;
}

#feedbackFormBgColorErrMsg {
  width: 200px !important;
  clear: both;
}

.zsfbfoffsetlab {
  width: 45px !important;
  padding-right: 10px !important;
  margin-left: 7px !important;
}

.zsfbfoffsetval {
  width: 94% !important;
  margin-top: 20px;
  padding: 5px 0 !important;
}

.zsfbfoffsetval input {
  border: 0;
  width: 72px;
  margin: 0 5px;
}

.zsfbfpad {
  padding: 0 10px 20px 10px !important;
}

.zsfbfmdiv-fbf .w226 {
  width: 223px !important;
}

. popupsetup .fbLanguage .zsddmaindiv {
  margin-left: 4px !important;
}

#attachmentName #fileName {
  display: table-cell;
  max-width: 110px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#attachmentName #attachClose {
  display: table-cell;
  color: #00a3fe;
}

.zsfbfscreencls {
  width: 20;
  height: 20;
  float: right;
  position: relative;
  z-index: 300000;
  display: none;
  text-decoration: none;
  margin: 2px 4px 0 0;
}

.zsfbfscreencls i {
  background-position: -149px -340px;
  width: 11px;
  height: 11px;
  display: inline-block;
}

#tabPosDropdownList {
  top: 34px !important;
}

#screenshotPreviewContainer, #attachmentPreviewContainer {
  margin-top: 8px;
  position: relative;
}

#feedbackTitle {
  position: relative;
  top: -4px;
  padding: 6px 5px 4px;
  -webkit-padding-before: 5px !important;
  -webkit-padding-after: 5px !important;
}

#feedbackFormTabTitleErrMsg {
  margin-bottom: -18px;
}

#feedbackFormOffsetErrMsg {
  margin-left: -54px;
  width: 190px;
  clear: both;
}

#fbPopupEmptySubjErrMsg {
  left: -333px;
}

.zscaptcha #fbPopupEmptySubjErrMsg, .zsnocaptcha #fbPopupEmptySubjErrMsg {
  left: -412px;
}

#fbPopupEmptyNameErrMsg {
  left: -68px;
}

.zscaptcha #fbPopupEmptyNameErrMsg, .zsnocaptcha #fbPopupEmptyNameErrMsg {
  left: -128px;
}

#fbPopupEmptyEmailErrMsg {
  left: -71px;
}

.zscaptcha #fbPopupEmptyCaptchaErrMsg {
  left: 7px;
  white-space: nowrap;
  float: left !important;
}

@-moz-document url-prefix() {
  .zscaptcha #fbPopupEmptySubjErrMsg, .zsnocaptcha #fbPopupEmptySubjErrMsg {
    left: -402px;
  }
  .zscaptcha #fbPopupEmptyEmailErrMsg, .zsnocaptcha #fbPopupEmptyEmailErrMsg {
    left: -120px;
  }
}

#fbPopupEmptyCaptchaErrMsg {
  left: -102px;
}

#enableDisableCaptcha {
  position: absolute !important;
  top: 17px !important;
}

.zsfbfcaptdivnew {
  position: absolute;
  top: 58px;
  left: 100px;
  width: 170px;
}

.zsfbfcaptdivnew .on-offbtndiv {
  position: static !important;
  left: 10px;
  right: auto;
  float: left;
}

#previewPopupLeftPanel #zsFAQDispContainer {
  left: 40% !important;
  z-index: 1 !important;
}

#previewPopupLeftPanel #zsFAQDispContainer #suggestionClose {
  top: -10px;
  right: -10px;
}

#previewPopupLeftPanel #zsFAQDispContainer #solutionContent a {
  color: #598fde !important;
}

#successMessageInfoLabel, .zsfbfhelpmsg {
  color: #9b9392 !important;
  font-size: 13px !important;
  padding-top: 5px;
}

#successMessageValidationLabel {
  padding-top: 5px;
}

.zsfbfzoomimg {
  width: 828px;
  height: 545px;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 15px;
  position: fixed;
  margin-top: 20px;
  z-index: 9999;
  top: 10%;
  right: 20%;
}

.zsfbfzoomimg #previewImageZoom {
  width: 827px;
  height: 542px;
  position: absolute;
  z-index: 9999 !important;
}

#zsCloseImageZoom {
  position: absolute;
  right: -12px;
  top: -12px;
  z-index: 9999 !important;
}

.zsfbffontclrcls {
  width: 7% !important;
  padding-right: 6px !important;
  margin-top: 19px !important;
}

.w16per {
  width: 16% !important;
}

.w72px {
  width: 72px !important;
}

.w106px {
  width: 106px !important;
}

.zsfbfposilabel {
  margin-top: 19px !important;
  width: 45px !important;
}

.zsfbfposivalue {
  margin: 20px 0 0 0 !important;
  width: 17%;
}

#advwebForm .cpsearchicn, #popupsetup .cpsearchicn, #previewPopup .cpsearchicn {
  background-position: 13px -103px;
  height: 42px;
  width: 93%;
  padding: 5px 0 0 45px;
  background-image: url('https://css.zohostatic.com/support/app/images/CP_Sprite.8bff0953237f49aeaebd.png') !important;
  border: 0;
  margin: -13px 0 0 -7px;
  background-color: #eee;
  font-size: 15px;
  box-shadow: none;
  opacity: .4;
  outline: 0;
}

#advwebForm .cpsearchicn:focus, #popupsetup .cpsearchicn:focus, #previewPopup .cpsearchicn:focus {
  background-color: #fff;
  opacity: 1;
  box-shadow: none;
}

.zsfbcaptcha {
  background-position: 0 -761px;
  height: 68px;
  width: 136px;
  display: inline-block;
  margin: 13px 0 0 30px;
}

.freezeLayer {
  margin: -100px 0 0 -100px;
  width: 150%;
  height: 250%;
  _height: 2500px !important;
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  background: #000;
  filter: Alpha(Opacity=70);
  -moz-opacity: .7;
  opacity: .7;
  z-index: 20;
}

.zs-newokbtn {
  border: 1px solid #97c769;
  background-color: #97c769;
  color: #fff;
}

.zs-newcancelbtn {
  border: 1px solid #f1f1f1;
  background-color: #fcfcfc;
  color: #555;
}

.zs-newokbtn, .zs-newcancelbtn {
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 3px;
  font: 13px 'Brown-Pro', Arial, Helvetica, sans-serif;
}

#feedbackSubmitLoading {
  position: absolute;
  top: 50%;
  left: 50%;
}

#zsfeedbackwidgetdiv #advwebForm {
  webkit-overflow: auto !important;
  -ms-overflow-style: none !important;
}

#previewPopup #previewPopupLeftPanel .fbpad {
  cursor: pointer;
}

#advwebForm.fbfchatEnable {
  left: 30% !important;
  width: 43.2% !important;
}

#advwebForm.fbfchatEnable .zsfeedbkrpanel {
  width: 99.6% !important;
}

#popupsetup .fbpad a, #popupsetup .fbpad {
  cursor: default !important;
}

.w84 {
  width: 84%;
}

.zsfbcloseweform .zstitlemini {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 65% !important;
  float: left;
}

.zsfbcloseweform .zsfeedbkrpanel {
  width: 315px;
}

#popupsetup .zsfeedbklpanel .bdrbtm2new a {
  cursor: default;
}

.fbfcaptchwholediv:hover .onoffswitch-big .onoffswitch-label, #enableDisableAttachment:hover .onoffswitch-big .onoffswitch-label, #enableDisableScreenShot:hover .onoffswitch-big .onoffswitch-label, #enableDisableChat:hover .onoffswitch-big .onoffswitch-label {
  box-shadow: 0 0 7px #777;
  transition: box-shadow 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

#suggestionsDiv {
  margin-top: 20px;
}

.zscaptcha #solutionsDiv {
  margin-top: 10px;
  max-height: 450px;
  overflow: auto;
}

.zsnocaptcha #solutionsDiv {
  margin-top: 10px;
  max-height: 325px;
  overflow: auto;
}

#suggestionsDiv span {
  padding-bottom: 7px;
}

#suggestionsDiv span.headerselect, #previewPopup #solutionsHeader span.headerselect, #popupsetup span.headerselect {
  padding-bottom: 5px;
  border-bottom: 2px solid #00a3fe;
}

.zsfbfsperater {
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid #eee;
}

.w280 {
  width: 280px;
}

.zsfbhcsubject {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.zsnocaptcha #topicsDiv {
  max-height: 319px;
  overflow-y: auto;
  margin-top: 8px;
}

.zscaptcha #topicsDiv {
  max-height: 450px;
  overflow-y: auto;
  margin-top: 10px;
}

.zsdeptlistdisc {
  color: #888 !important;
  cursor: default !important;
}

#forumsHeader {
  margin-left: 10px;
}

#enableDisableChat {
  top: 13px !important;
  left: -183px !important;
}

#advwebForm .zstitlemini {
  width: 440px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 23px;
  line-height: initial;
}

.fbpad.w280 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 92% !important;
}

.empty-txt {
  font: 16px 'Brown-Pro', Arial, Helvetica, sans-serif;
  color: #555;
}

.mt60 {
  margin-top: 60px;
}

a:hover {
  text-decoration: none !important;
}

#advwebForm #zsfeedbkrpanel.zsnocaptcha .feedbackformmdiv {
  min-height: 260px;
}

@-moz-document url-prefix() {
  #advwebForm #zsfeedbkrpanel.zsnocaptcha .feedbackformmdiv {
    min-height: 262px;
  }
}

.zsfbfmdiv-fbf .zscaptcha {
  height: auto !important;
}

.curpointer {
  cursor: pointer;
}

.mr10 {
  margin-right: 10px;
}

.mr5 {
  margin-right: 5px;
}

.posrel {
  position: relative;
}

#popupsetup .zsaddsoliinnerdiv {
  float: right !important;
}

.zs-newdropdown div:hover {
  background-color: #fff !important;
}

.p5imp {
  padding: 5px !important;
}

.posstaticimp {
  position: static !important;
}

.opa1imp {
  opacity: 1 !important;
}

.w21px {
  width: 21px !important;
}

.disnone {
  display: none;
}

.disblock {
  display: block;
}

#zsFAQDispContainer #solutions {
  max-height: 350px;
  overflow-y: auto;
  text-align: left;
}

.curdefault {
  cursor: default !important;
}

.curauto {
  cursor: auto !important;
}

.curpointer {
  cursor: pointer;
}

#feedbacklabel {
  z-index: 10;
}

.bdr0 {
  border: 0 !important;
}

.opa03 {
  opacity: .3;
}

#enableDisableScreenShot {
  display: block;
  left: 130px;
  width: 173px;
}

.vishidden {
  visibility: hidden;
}

#previewPopup .zsfeedbkrpanel.zsnocaptcha .zsfbbdrtop {
  margin-top: 19.3px;
}

#advwebForm.zsfbcloseweform .zsfeedbkrpanel {
  width: 100% !important;
}

#advwebForm.zsfbcloseweform .zstitlemini {
  width: 60% !important;
}

.Fdformpreview #captchaImage {
  width: 136px !important;
  height: 70px !important;
}

.zs-alertmain {
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  position: fixed;
  top: 100px;
  left: 35%;
  background-color: #fff;
}

.zs-newokbtn {
  border: 1px solid #97c769;
  background-color: #97c769;
  color: #fff;
}

.zs-newcancelbtn {
  border: 1px solid #f1f1f1;
  background-color: #fcfcfc;
  color: #aaa;
}

.zs-newokbtn, .zs-newcancelbtn {
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 3px;
  font: 13px 'Brown-Pro', Arial, Helvetica, sans-serif;
}

.zs-imgwidth {
  width: 70px;
}

#themesContainer .zs-alertmain {
  box-shadow: None;
  position: fixed;
  top: 85px;
  left: 77px;
  z-index: 9999;
  background-color: initial;
}

#themesContainer .zs-alertmain .plgtxt {
  color: #fff;
}

.warn-ico-css {
  display: inline-block;
  border: 1px solid #e18604;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  color: #e18604;
  font-size: 50px;
  margin-bottom: 10px;
}

.zsfeedbackclose i {
  margin-top: 1px;
}

@-moz-document url-prefix() {
  #previewPopup .zsfeedbklpanel.zscaptcha {
    min-height: 593px !important;
  }
}

@-moz-document url-prefix() {
  #previewPopup .zsfeedbkrpanel.zscaptcha {
    min-height: 603px !important;
  }
}

@-moz-document url-prefix() {
  #previewPopup .zsfeedbklpanel.zsnocaptcha {
    min-height: 449.7px !important;
  }
}

@-moz-document url-prefix() {
  .zspopembedselect i {
    top: -8px;
  }
}

.zsfbfdisbtn, .muledptbtn {
  outline: 0;
}

#screenShotRemoveAnchor {
  color: #00a3fe;
}

.blue-btn {
  background: #00a3fe;
  border: 1px solid #00a3fe;
  color: #FFF;
  font: 13px 'Brown-Pro', Arial, Helvetica, sans-serif;
  padding: 6px 16px;
  cursor: pointer;
  border-radius: 2px;
  outline: 0;
  letter-spacing: .04em;
  min-width: 90px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 163, 254, 0.2);
  box-shadow: 0 2px 3px 0 rgba(0, 163, 254, 0.2);
}

.blue-btn:hover, .blue-bdr-btn:hover, .red-bdr-btn:hover {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.blue-btn:hover {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 163, 254, 0.4);
  box-shadow: 0 3px 3px 0 rgba(0, 163, 254, 0.4);
}

#enableDisableScreenShot i.zscameraicn, #enableDisableAttachment i.zsnewattachicn, #enableDisableChat i.statusonline {
  position: relative;
  top: -3px;
}

#popupsetup #captchaWord {
  padding: 5px 4px !important;
}

.zsnametxtbox, .zsemailtxtbox, .zscaptchatxtbox, #previewCaptchaDiv {
  width: 46%;
}

.zsnametxtbox .fbtxtnf, .zscaptchatxtbox #previewCaptchaWord {
  width: 99.3% !important;
}

.zsemailtxtbox .fbtxtnf {
  width: 97% !important;
}

#previewCaptchaDiv .fbfcaptchaDivimg {
  width: 99%;
}

@media all and (-ms-high-contrast:none), (-ms-high-contrast:active) {
  .zsemailtxtbox .fbtxtnf {
    width: 97.5% !important;
  }
  .zsfeedbkrpanel {
    width: 65%;
  }
  .zsfbflfreeze {
    width: 21.5%;
  }
  .zsfbflfreezeinner {
    width: 20%;
  }
  .zsfbfmdiv-fbf .w226 {
    width: 220px !important;
  }
  #zsFAQDispContainer {
    left: 38%;
    width: 600px;
  }
  #advwebForm .zsfeedbkrpanel {
    width: 65.11%;
  }
  #advwebForm .ml42 {
    margin-left: 25px;
  }
  #advwebForm .w226 {
    width: 243px !important;
  }
  #advwebForm .zscaptcha.zsfeedbkrpanel, #advwebForm .zscaptcha.zsfeedbklpanel {
    height: 575px !important;
  }
  #previewPopup .zsfeedbklpanel.zsnocaptcha {
    min-height: 442.7px !important;
  }
  #previewPopup .zsfeedbkrpanel.zsnocaptcha {
    min-height: 453px !important;
  }
  .zsfdwordveribdr {
    width: 232px;
    height: 139px;
    opacity: .6;
    top: 0;
  }
  .zsfbfbkclr .zsfbfposivalue {
    width: 14.6% !important;
  }
  .zsfbfbkclr .zsfbfposivalue #tabposSelectList {
    width: 80% !important;
  }
  #tabPosDropdownList {
    max-width: 57%;
    top: 33px;
  }
  .fbLanguage .zs-newdropdown {
    min-width: 78.3% !important;
    width: auto !important;
  }
  .fbdepartment .zs-newdropdown {
    min-width: 83.2% !important;
  }
  #previewPopup .zsfeedbkrpanel.zscaptcha {
    min-height: 600px !important;
  }
  #previewPopup .zsfeedbklpanel.zscaptcha {
    min-height: 589.5px !important;
  }
  #previewPopup .zsfeedbackclose {
    right: 0;
  }
  #zsFAQDispContainer {
    width: 600px !important;
  }
  #zsFAQDispContainer #solutions {
    width: 88%;
  }
  #popupsetup .Fdformpreview .zsfeedbkrpanel {
    width: 65.05%;
  }
  .w100 {
    width: 100% !important;
  }
  #zsFAQDispContainer {
    text-align: left;
  }
}

#advwebForm .w48 {
  width: 46.5% !important;
}

#langSelectList, #tabposSelectList, #depSelectList {
  float: none !important;
}

#langDropdownList, #deptDropdownList, #tabPosDropdownList {
  padding: 0 !important;
  text-align: left;
}

#langDropdownList {
  width: 100% !important;
}

#deptDropdownList {
  width: 95% !important;
  min-width: 95% !important;
}

#tabPosDropdownList {
  width: 70% !important;
  min-width: 70% !important;
  z-index: 0 !important;
}

#langDropdownList div, #tabPosDropdownList div, #deptDropdownList div {
  margin: 0 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: auto;
}

.zsfbformhead {
  text-align: left;
}

.pl5 {
  padding-left: 5px;
}

.ml3 {
  margin-left: 3px;
}

@media all and (-ms-high-contrast:none) {
  .zspopembedselect i {
    position: relative;
    top: -8px;
  }
}

@media all and (-ms-high-contrast:none) {
  #tabPosDropdownList {
    width: 80% !important;
    min-width: 80% !important;
  }
  *::-ms-backdrop, #tabPosDropdownList {
    width: 80% !important;
    min-width: 80% !important;
  }
}

@media all and (-ms-high-contrast:none) {
  {}
  *::-ms-backdrop, .zsnonameemail {
    height: 33px;
  }
}

@media all and (-ms-high-contrast:none) {
  .zsfeedbkrpanel #liveChatIframe {
    width: 38.8% !important;
  }
  *::-ms-backdrop, .zsfeedbkrpanel #liveChatIframe {
    width: 38.8% !important;
  }
}

@media all and (-ms-high-contrast:none) {
  #advwebForm.fbfchatEnable {
    width: 38.9% !important;
  }
  *::-ms-backdrop, #advwebForm.fbfchatEnable {
    width: 38.9% !important;
  }
}

.feedbackPopup_layer_dep .zsfbflfreezeinner {
  width: 28.8% !important;
}

.feedbackPopup_layer_dep .zsfbflfreeze {
  width: 30.5%;
}

.feedbackPopup_layer_dep #previewPopup.zsfbfnohc {
  width: auto !important;
  left: 23% !important;
}

.feedbackPopup_layer_dep #previewPopup.zsfbfnohc .zsfeedbkrpanel {
  width: 69% !important
}

.feedbackPopup_layer_dep #previewPopup.zsfbfnohc .zs-previewwm {
  right: 84px !important;
}

.febscreensctxt {
  float: left;
  margin-right: 10px;
  margin-left: 2px;
  width: 63%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.zsdeptdroplist {
  position: relative;
  max-height: 282px;
  margin: 0 !important;
  padding: 0 !important;
}

#articlesWithFeedback .icon-Deletedticket-new {
  word-wrap: initial;
  margin-right: 10px;
}

#zsfeedbackwidgetdiv * {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}

#attachmentPreviewContainer {
  margin-top: 8px;
}

#zsfeedbkrpanel.zsnocaptcha .zsfbbdrtop {
  margin-top: 20px;
}

/* MT overrides */

#advwebForm .fleft.w48 {
  width: 100% !important;
  margin-bottom: 0;
  margin-left: 0;
}

.fleft.w48 + .fleft.w48 {
  margin-top: 20px;
}

input#feedbackSubject,
textarea#feedbackDescription,
input#feedbNameTxtField,
input#feedbEmailTxtField {
  box-sizing: border-box;
  width: 100% !important;
}

textarea#feedbackDescription {
  width: 100% !important;
  height: 100%;
}

span#popupsetupMinimise {
  display: none;
}

.zsfeedbkrpanel {
  border-left: none;
}

#popupsetupClose {
  right: 0.5px !important;
}
